.root {

    -fx-background-image: url("FundoGradiente.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}


.main-container {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-background-radius: 15;
    -fx-padding: 20;
}
